<h3>
    @{
        var value = string.Empty;
#pragma warning disable CS0618
        value += this.ObsoleteValue;
#pragma warning restore CS0618
        value += " ";
        value += Value;
        <text>@value</text>
    }
</h3>

@code {
    [Obsolete("obsolete value")]
    [Parameter]
    public string ObsoleteValue { get; set; } = string.Empty;
    [Parameter]
    public string Value { get; set; } = string.Empty;
}
